#container {
  display: flex;
  flex-direction: column;
  padding: 35px 20px;
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
}

#business-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#business-fields {
  display: flex;
  flex-direction: column;
}

.field {
  margin-left: 15px;
  font-family: Bahnschrift, serif;
  color: #7c795d;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}

#business-details {
  flex: 3 1 0;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#business-details .provider-name {
  display: inline-block;
  margin-left: 10px;
}

#business-img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}

#business-contact {
  flex: 1 1 0;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 7px;
}

.social {
  display: flex;
  flex-direction: row;
  margin: 5px 0 5px 15px;
  align-items: center;
}

.social i {
  color: #7c795d;
  margin-right: 10px;
}

.social a {
  font-family: Bahnschrift, serif;
  font-size: 1.1em;
  text-decoration: underline;
  color: #7c795d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.social a:link {
  color: #7c795d;
}

.social a:visited {
  color: #7c795d;
}

.social a:hover {
  color: #7c795d;
  cursor: pointer;
}

.social a:active {
  color: #7c795d;
}

#fullscreen-img-txt {
  text-decoration: underline;
  width: fit-content;
  cursor: pointer;
  color: #7c795d;
  font-family: Bahnschrift, serif;
  margin: 10px 0 3px 0;
}

.carousel {
  z-index: 0;
}

ng-image-fullscreen-view {
  position: absolute;
  z-index: 1;
}

#carousel-container {
  width: 100%;
  padding: 0 15px;
  background-color: #f7f7f7;
  border-radius: 7px
}

#offer-types {
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#offer-types p {
  font-family: Bahnschrift, serif;
  color: #7c795d;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
  cursor: pointer;
  margin: 10px 20px;
}

.selected-option {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #999999;
}

.mat-icon {
  vertical-align: top;
  transform: scale(1.3);
}

.offers-container {
  width: 100%;
  display: block;
  margin: 20px auto;
  overflow: hidden;
  padding: 20px;
  background-color: #f7f7f7;
}

.offer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
  margin-bottom: 25px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 140px;
  min-width: 100px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 7px;
}

img:hover {
  cursor: pointer;
}

.offer-info {
  margin: 20px 10px 0 10px;
  display: flex;
  flex-direction: column;
}

.offer-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 5px;
}

.offer-details .mat-icon {
  margin-right: 10px;
  color: #7c795d;
}

.offer-details h2, h3, h4 {
  font-family: Bahnschrift, serif;
  color: #7c795d;
  white-space: nowrap;
}

.offer-title:hover {
  cursor: pointer;
}

.bold-nr {
  font-size: 1.3em;
  font-weight: bolder;
  margin-left: 5px;
}

#see-food-offer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.alert-heading {
  margin: 15px;
}

.see-offer-tickets {
  color: #7c795d;
  white-space: nowrap;
  font-family: Bahnschrift, serif;
  font-weight: normal;
}

.see-offer-tickets:hover {
  cursor: pointer;
  text-decoration: underline;
}

