#menu-container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.menu-category {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.menu-category h2 {
  font-family: "Trebuchet MS", sans-serif;
  color: #7c795d;
  text-transform: uppercase;
  font-weight: bold;
}

.menu-items {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  overflow: auto;
}

.item {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: flex-end;
}

.item h3 {
  width: 10%;
  font-size: 1.1em;
  font-family: Bahnschrift, serif;
  color: #7c795d;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.item .item-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dot-line {
  flex-grow: 1;
  min-width: 10%;
  border: none;
  border-bottom: 2px dashed #7c795d;
  color: #ffffff;
  background-color: #ffffff;
  margin: 0 20px 7px 20px;
}
