.card-body {
  overflow: hidden !important;
  position: relative;
  padding: 0 !important;
}

.close-button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  background-color: #f7f7f7;
  margin: 10px;
}

#images-section {
  display: flex;
  flex-direction: column;
  justify-content: center
}

#wrapper {
  padding: 20px;
  background-color: #f7f7f7;
}

.title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.8em;
  color: #7c795d;
}

#fullscreen-img {
  text-decoration: underline;
  width: fit-content;
  cursor: pointer;
  color: #7c795d;
  margin: 10px 0 3px 0;
  font-family: Bahnschrift, serif;
}

#carousel-background {
  padding: 0 15px;
  background-color: #f7f7f7;
}

.carousel {
  z-index: 0;
}

ng-image-fullscreen-view {
  position: absolute;
  z-index: 1;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#selected-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 7px;
}

#selected-image:hover {
  cursor: pointer;
}

.section {
  width: 100%;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 20px;
}

.section #text {
  font-family: 'Trocchi', sans-serif;
  font-size: 1.3em;
  color: #7c795d;
  opacity: 0.9;
  margin-left: 15px;
}

.section-elements {
  color: #7c795d;
  font-family: Bahnschrift, serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 5px 0;
}

#section-elements:empty {
  display: none;
}

.element {
  border-radius: 7px;
  background-color: #ffffff;
  margin: 5px 0 5px 10px;
  padding: 5px 15px;
}

.element h3 {
  font-size: 1.2em;
  margin: auto;
}



