<div class="account-management-right-container">
  <div id="top-section">
    <h1>Visited Locations</h1>
    <h3 class="add-location-btn" (click)="openAddLocationDialog()">
      add new location
      <mat-icon>add</mat-icon>
    </h3>
  </div>
  <div class="separator"></div>
  <div id="locations-container" *ngIf="visitedLocations.length > 0">
    <div class="location" *ngFor="let location of visitedLocations; let i=index">
      <h3 (click)="setMarkerOnMap(i)">{{location.address}}, {{location.city}}</h3>
      <mat-icon (click)="openRemoveVisitedLocationDialog(i)">close</mat-icon>
    </div>
  </div>
  <div *ngIf="noVisitedLocations" id="no-locations-wrapper" role="alert">
    <h4 class="alert-heading">NO VISITED LOCATIONS FOUND!</h4>
  </div>
  <app-map *ngIf="visitedLocations.length > 0"></app-map>
</div>
<mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
