#header {
  width: 100%;
  text-align: center;
  background-color: #bbbcbd;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 7px;
}

#header-title {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.7em;
  background-color: #ffffff;
  color: #034953;
  margin: 0 auto;
  width: fit-content;
  border-radius: 7px;
  padding: 15px 50px;
}

#offers-container {
  display: block;
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
  padding: 20px;
  background-color: #f7f7f7;
}

.offer-container {
  display: flex;
  flex-direction: row;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
  margin-bottom: 25px;
  overflow: auto;
}

.img-container {
  max-width: 225px;
  min-width: 100px;
  min-height: 150px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 7px;
}

.offer-info {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.offer-info h1 {
  width: fit-content;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.6em;
  display: inline-block;
  position: relative;
}

.offer-info h1:hover {
  cursor: pointer;
}

.offer-info h1:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.offer-info h1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.offer-info h4 {
  margin-top: 10px;
  font-family: Bahnschrift, serif;
  color: #7c795d;
  white-space: nowrap;
}

.offer-info h4 #nr-offers {
  font-size: 1.3em;
}

.offer-distance {
  margin-left: 10px;
  font-size: 1.2em;
  font-weight: 500;
}

.favourite-btn {
  transform: scale(1.4);
  margin-left: auto;
  margin-bottom: 10px;
  color: #7c795d;
}

.right-side {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.right-side .favourite-btn {
  margin-left: auto;
}

.right-side h2 {
  margin-top: auto;
  font-family: Bahnschrift, serif;
  white-space: nowrap;
  color: #7c795d;
}

.favourite-btn:hover {
  cursor: pointer;
}

.mat-icon {
  vertical-align: middle;
  transform: scale(1.2);
}

#filter-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.option-txt{
  display: inline;
  font-family: Bahnschrift, serif;
  color: #7c795d;
  font-weight: bold;
  white-space: nowrap;
  margin: auto 10px 0 0;
}

.sort-field{
  width: 100px;
}

.currency-field {
  width: 60px;
}

.nrItems-field {
  width: 40px;
}

.alert-heading {
  margin: 15px;
}

.search-container {
  flex: 1 1 350px;
  margin: auto;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.search-input-container {
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: Bahnschrift, serif;
  color: #7c795d;
  font-size: 1.2em;
  align-items: center
}

.search-bar {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  font-weight: 500;
  color: #7c795d;
}

.search-bar:focus {
  outline: none;
}

.search-bar:focus::placeholder {
  opacity: 0;
}

.mat-input-element {
  caret-color: #000000 !important;
}

.mat-option[aria-disabled=true] {
   color: #999999 !important;
 }
