<app-navbar></app-navbar>
<div id="offers-container" [ngSwitch]="category">
  <div id="header">
    <h1 id="header-title"><b>{{getPageTitle()}}</b></h1>
  </div>
  <div *ngIf="showFilterOptions === true" id="filter-options">
    <div *ngIf="showSorting" style="margin-bottom: -1em; flex: 1 0 0;">
      <h4 class="option-txt">Sort by: </h4>
      <mat-form-field class="sort-field" appearance="legacy">
        <mat-select [value]="sortingMethod"
                    (selectionChange)="sortOffers($event.value)">
          <mat-option style="color: black;" value="latest"> Latest </mat-option>
          <mat-option style="color: black;" value="oldest"> Oldest </mat-option>
          <mat-option *ngIf="category === 'lodging'" style="color: black;" value="priceAsc"> Price Asc. </mat-option>
          <mat-option *ngIf="category === 'lodging'" style="color: black;" value="priceDesc"> Price Desc. </mat-option>
          <mat-option style="color: black;" value="nameAsc"> Name Asc. </mat-option>
          <mat-option style="color: black;" value="nameDesc"> Name Desc. </mat-option>
          <mat-option [disabled]="!showSortingByDistance" style="color: black;" value="distance"> Distance </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-container">
      <div class="search-input-container">
        <input matInput type="text" placeholder="Search" class="search-bar" autocomplete="off"
               #searchInput (keyup)="getFilteredOffers(searchInput.value)">
        <mat-icon>search</mat-icon>
      </div>
      <div class="search-input-container">
        <input matInput type="text" placeholder="Location" class="search-bar" autocomplete="off"
               ngx-google-places-autocomplete [(ngModel)]="locationInput"
               (onAddressChange)="setOffersDistance($event)"/>
        <mat-icon>location_on</mat-icon>
      </div>
    </div>

    <div *ngIf="category === 'lodging'; then showCurrencyField else showNrItemsField" ></div>
    <ng-template #showCurrencyField>
      <div *ngIf="showCurrency"
           style="margin-bottom: -1em; flex: 1 0 0;">
        <div style="float: right">
          <h4 class="option-txt">Currency: </h4>
          <mat-form-field appearance="legacy" class="currency-field">
            <mat-select [value]="selectedCurrency"
                        (selectionChange)="changeCurrency($event.value)">
              <mat-option *ngFor="let currency of currencies" style="color: black;" [value]="currency">
                {{currency}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </ng-template>
    <ng-template #showNrItemsField>
      <div *ngIf="showNrItems"
           style="margin-bottom: -1em; flex: 1 0 0;">
        <div style="float: right">
          <h4 class="option-txt">Items per page: </h4>
          <mat-form-field appearance="legacy" class="nrItems-field">
            <mat-select [value]="nrItemsOnPage"
                        (selectionChange)="changeNrItemsOnPage($event.value)">
              <mat-option style="color: black;" [value]="10"> 10 </mat-option>
              <mat-option style="color: black;" [value]="25"> 25 </mat-option>
              <mat-option style="color: black;" [value]="50"> 50 </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </ng-template>
  </div>

  <div *ngSwitchCase="'lodging'">
    <div *ngIf="lodgingOffers.length !== 0">
      <div *ngFor="let offer of lodgingOffers | paginate: { id: 'lodgingOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: lodgingOffers.length }">
          <div class="offer-container">
            <div class="img-container">
              <img [src]="offer.image" alt="...">
            </div>
            <div class="offer-info">
              <div *ngIf="offer.business !== undefined; then showLegalPersonOffer else showPhysicalPersonOffer"></div>
              <ng-template #showLegalPersonOffer>
                <h1 (click)="goToOfferPage({id: offer.id, category: 'lodging', type: 'legal'})">{{offer.business?.name}}</h1>
                <h4><mat-icon style="margin-right: 10px"> location_on</mat-icon>
                  {{offer.business?.address}}, {{offer.business?.city}}
                  <span *ngIf="offer.distance" class="offer-distance">{{offer.distance}} away</span></h4>
                <h4><mat-icon style="margin-right: 10px"> local_offer</mat-icon>
                  <span id="nr-offers">
                    <b>{{offer.nrLodgingOffers}}</b>
                  </span> available offer<span *ngIf="offer.nrLodgingOffers !== 1">s</span>
                </h4>
              </ng-template>
              <ng-template #showPhysicalPersonOffer>
                <h1 (click)="goToOfferPage({id: offer.id, category: 'lodging', type: 'physical'})">
                  {{offer.title}}
                </h1>
                <h4><mat-icon style="margin-right: 10px"> location_on</mat-icon>
                  {{offer?.address}}, {{offer?.city}}
                  <span *ngIf="offer.distance" class="offer-distance">{{offer.distance}} away</span>
                </h4>
              </ng-template>
            </div>
            <div class="right-side">
              <div *ngIf="checkIfOfferIsInFavourites(offer.id, 'lodging');
                    then showColoredHeart else showEmptyHeart"></div>
              <ng-template #showColoredHeart>
                <mat-icon class="favourite-btn"
                          (click)="removeOfferFromFavourites(offer.id, 'lodging')">
                  favorite
                </mat-icon>
              </ng-template>
              <ng-template #showEmptyHeart>
                <mat-icon class="favourite-btn"
                          (click)="addLodgingOffersToFavourites(offer.id)">
                  favorite_border
                </mat-icon>
              </ng-template>
              <h2>Price<span *ngIf="offer.business"> starting from</span>:
                {{getFormattedOfferPrice(offer.price)}} {{offer.currency}}
                <span style="font-size: 0.6em">(/night)</span></h2>
            </div>
          </div>
      </div>
      <pagination-controls
        id="lodgingOffersPageId" (pageChange)="page = $event" [maxSize]="5" [directionLinks]="true" [responsive]="true">
      </pagination-controls>
    </div>
  </div>
  <div *ngSwitchCase="'food'">
    <div *ngIf="foodOffers.length !== 0">
      <div *ngFor="let offer of foodOffers | paginate: { id: 'foodOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: foodOffers.length }">
        <div class="offer-container">
          <div class="img-container">
            <img [src]="offer.image" alt="...">
          </div>
          <div class="offer-info">
            <h1 (click)="goToOfferPage({id: offer.id, category: 'food'})">{{offer.business?.name}}</h1>
            <h4><mat-icon style="margin-right: 10px"> location_on</mat-icon>
              {{offer.business?.address}}, {{offer.business?.city}}
              <span *ngIf="offer.distance" class="offer-distance">{{offer.distance}} away</span>
            </h4>
          </div>
          <div *ngIf="checkIfOfferIsInFavourites(offer.id, 'food');
                    then showColoredHeart else showEmptyHeart"></div>
          <ng-template #showColoredHeart>
            <mat-icon class="favourite-btn"
                      (click)="removeOfferFromFavourites(offer.id, 'food')">
              favorite
            </mat-icon>
          </ng-template>
          <ng-template #showEmptyHeart>
            <mat-icon class="favourite-btn"
                      (click)="addOfferToFavourites(offer.id, 'food')">
              favorite_border
            </mat-icon>
          </ng-template>
        </div>
      </div>
      <pagination-controls
        id="foodOffersPageId" (pageChange)="page = $event" [maxSize]="5" [directionLinks]="true" [responsive]="true">
      </pagination-controls>
    </div>
  </div>

  <div *ngSwitchCase="'attractions'">
    <div *ngIf="attractionOffers.length !== 0">
      <div *ngFor="let offer of attractionOffers | paginate: { id: 'attractionOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: attractionOffers.length }">
        <div class="offer-container">
          <div class="img-container">
            <img [src]="offer.image" alt="...">
          </div>
          <div class="offer-info">
            <h1 (click)="goToOfferPage({id: offer.id, category: 'attractions'})">{{offer.title}}</h1>
            <h4><mat-icon style="margin-right: 10px"> location_on</mat-icon>
              {{offer.address}}, {{offer.city}}
              <span *ngIf="offer.distance" class="offer-distance">{{offer.distance}} away</span>
            </h4>
          </div>
          <div *ngIf="checkIfOfferIsInFavourites(offer.id, 'attractions');
                    then showColoredHeart else showEmptyHeart"></div>
          <ng-template #showColoredHeart>
            <mat-icon class="favourite-btn"
                      (click)="removeOfferFromFavourites(offer.id, 'attractions')">
              favorite
            </mat-icon>
          </ng-template>
          <ng-template #showEmptyHeart>
            <mat-icon class="favourite-btn"
                      (click)="addOfferToFavourites(offer.id, 'attractions')">
              favorite_border
            </mat-icon>
          </ng-template>
        </div>
      </div>
      <pagination-controls
        id="attractionOffersPageId" (pageChange)="page = $event" [maxSize]="5" [directionLinks]="true" [responsive]="true">
      </pagination-controls>
    </div>
  </div>

  <div *ngSwitchCase="'activities'">
    <div *ngIf="activityOffers.length !== 0">
      <div *ngFor="let offer of activityOffers | paginate: { id: 'activityOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: activityOffers.length }">
        <div class="offer-container">
          <div class="img-container">
            <img [src]="offer.image" alt="...">
          </div>
          <div class="offer-info">
            <h1 (click)="goToOfferPage({id: offer.id, category: 'activities'})">{{offer.title}}</h1>
            <h4><mat-icon style="margin-right: 10px"> location_on</mat-icon>
              {{offer.address}}, {{offer.city}}
              <span *ngIf="offer.distance" class="offer-distance">{{offer.distance}} away</span>
            </h4>
          </div>
          <div *ngIf="checkIfOfferIsInFavourites(offer.id, 'activities');
                    then showColoredHeart else showEmptyHeart"></div>
          <ng-template #showColoredHeart>
            <mat-icon class="favourite-btn"
                      (click)="removeOfferFromFavourites(offer.id, 'activities')">
              favorite
            </mat-icon>
          </ng-template>
          <ng-template #showEmptyHeart>
            <mat-icon class="favourite-btn"
                      (click)="addOfferToFavourites(offer.id, 'activities')">
              favorite_border
            </mat-icon>
          </ng-template>        </div>
      </div>
      <pagination-controls
        id="activityOffersPageId" (pageChange)="changePage($event)" [maxSize]="5" [directionLinks]="true" [responsive]="true">
      </pagination-controls>
    </div>
  </div>

  <div *ngIf="category === 'lodging' && lodgingOffers.length !== 0 && showNrItems"
       style="margin-top: -1.5em">
    <h4 class="option-txt">Items per page: </h4>
    <mat-form-field appearance="legacy" class="nrItems-field">
      <mat-select [value]="nrItemsOnPage"
                  (selectionChange)="changeNrItemsOnPage($event.value)">
        <mat-option style="color: black;" [value]="10"> 10 </mat-option>
        <mat-option style="color: black;" [value]="25"> 25 </mat-option>
        <mat-option style="color: black;" [value]="50"> 50 </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="showNoOffersMessage === true" class="offer-container" role="alert">
    <h4 class="alert-heading">NO OFFERS FOUND!</h4>
  </div>
  <mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
</div>
<app-map (offerDistanceEvent)="getOfferDistance($event)" style="display: none"></app-map>

