<div class="center">
  <div class="row align-items-center h-100">
    <div class="col-md-5 col-sm-10 mx-auto">
      <div class="card justify-content-center" style="padding: 20px">
        <div class="title-image">
<!--          <img src="assets/img/logo.png" alt="logo" class ="logo-png">-->
          <h1 class="logo-title-png">TravelTim</h1>
        </div>
        <div id="btn-row">
          <button class="btn" [style.background]="flag? '#034953': '#a3acad'" type="button"
                  (click)="switchBetweenLoginRegister('login')" >Login</button>
          <button class="btn" [style.background]="!flag? '#034953': '#a3acad'" type="button"
                  (click)="switchBetweenLoginRegister('register')" >Register</button>
        </div>
        <div style="margin-top: 20px">
          <div *ngIf="flag">
            <app-login></app-login>
          </div>
          <div *ngIf="!flag">
            <app-register></app-register>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
