<div *ngFor="let offer of offers; let i = index" class="offer">
  <div class="offer-details">
    <h4>Rooms: <span>{{offer?.nrRooms}}</span></h4>
    <h4>Bathrooms: <span>{{offer?.nrBathrooms}}</span></h4>
    <h4>Single Beds: <span>{{offer?.nrSingleBeds}}</span></h4>
    <h4>Double Beds: <span>{{offer?.nrDoubleBeds}}</span></h4>
    <h4>Floor: <span>{{offer?.floor}}</span></h4>
  </div>
  <div class="offer-actions">
    <h2>{{getFormattedOfferPrice(offer?.price)}} {{offer?.currency}}</h2>
    <button mat-raised-button class="details-btn" (click)="openLegalLodgingOfferDetails(i)">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
    <button mat-raised-button class="reserve-btn">Reserve<mat-icon>loyalty</mat-icon></button>
  </div>
</div>
