<div class="account-management-right-container">
  <h1>My Offers</h1>
  <div style="display: flex; flex-direction: row">
    <p class="top-btn" (click)="openStatisticsModal()" *ngIf="showFilterOptions">statistics<mat-icon>bar_chart</mat-icon>
    </p>
    <p class="top-btn" style="margin-left: auto"
       (click)="openFilterOptionsModal()" *ngIf="showFilterOptions">filter<mat-icon>filter_list</mat-icon>
      <app-filter-options></app-filter-options>
    </p>
  </div>
  <div class="separator"></div>
  <div id="offer-types">
    <p [ngClass]="{'selectedOption': selectedCategory === 'lodging'}"
       (click)="switchSelectedCategory('lodging')">
      lodging
    </p>
    <p [ngClass]="{'selectedOption': selectedCategory === 'food & beverage'}"
       (click)="switchSelectedCategory('food & beverage')">
      food & beverage
    </p>
    <p [ngClass]="{'selectedOption': selectedCategory === 'attractions'}"
       (click)="switchSelectedCategory('attractions')">
      attractions
    </p>
    <p [ngClass]="{'selectedOption': selectedCategory === 'activities'}"
       (click)="switchSelectedCategory('activities')">
      activities
    </p>
  </div>
  <div class="offers-container" [ngSwitch]="selectedCategory">
    <div *ngSwitchCase="'lodging'" @fadeIn>
      <mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
      <div *ngIf="filteredLodgingOffers.length !== 0">
        <h4 class="nr-results">
          showing {{filteredLodgingOffers.length}}
          result<span *ngIf="filteredLodgingOffers.length > 1">s</span>
        </h4>
        <div *ngFor="let offer of filteredLodgingOffers | paginate: { id: 'lodgingOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: filteredLodgingOffers.length }">
          <div class="offer-container">
            <div class="top-container">
              <div class="offer-fields">
                <div class="img-container">
                  <img [src]="offer.image" alt="..." (click)="goToLodgingOfferPage(offer)">
                </div>
                <div class="offer-info">
                  <div *ngIf="offer.business !== undefined; then showLegalPersonOffer else showPhysicalPersonOffer"></div>
                  <ng-template #showLegalPersonOffer>
                    <h4 class="offer-title" (click)="goToLodgingOfferPage(offer)"><mat-icon style="margin-right: 10px">business</mat-icon>
                      {{offer?.business?.name}}
                    </h4>
                    <h4 class="offer-address"><mat-icon style="margin-right: 10px">location_on</mat-icon>
                      {{offer.business?.address}}, {{offer.business?.city}}
                    </h4>
                  </ng-template>
                  <ng-template #showPhysicalPersonOffer>
                    <h4 class="offer-title" (click)="goToLodgingOfferPage(offer)">
                      <mat-icon style="margin-right: 10px">title</mat-icon>
                      {{offer?.title}}
                    </h4>
                    <h4 class="offer-address"><mat-icon style="margin-right: 10px">location_on</mat-icon>{{offer.address}}, {{offer.city}}</h4>
                  </ng-template>
                </div>
                <mat-icon class="delete-btn" (click)="openDeleteOfferDialog(offer.id)">delete_forever</mat-icon>
              </div>
              <div class="offer-status" [ngSwitch]="offer.status">
                <h4 *ngSwitchCase="'active'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">check_circle_outline</mat-icon>
                  active
                </h4>
                <h4 *ngSwitchCase="'disabled'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">remove_circle_outline</mat-icon>
                  disabled
                </h4>
                <h4 *ngSwitchCase="'reserved'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">block</mat-icon>
                  reserved
                </h4>
              </div>
            </div>
            <div class="bottom-container">
              <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <h4 class="offer-details"><mat-icon style="margin-right: 10px">info</mat-icon>
                  <span class="bold-nr">{{offer.nrRooms}}</span> room<span *ngIf="offer.nrRooms > 1">s</span>,
                  <span class="bold-nr">{{offer.nrSingleBeds}}</span> single bed<span *ngIf="offer.nrSingleBeds > 1">s</span>,
                  <span class="bold-nr">{{offer.nrDoubleBeds}}</span> double bed<span *ngIf="offer.nrDoubleBeds > 1">s</span>
                </h4>
                <h2>Price: {{getFormattedOfferPrice(offer.price)}} {{offer.currency}} <span style="font-size: 0.6em">(/night)</span></h2>
              </div>
              <div class="action-buttons" style="margin-left: auto">
                <button mat-raised-button class="edit-btn" (click)="goToEditLodgingOfferPage(offer)">
                  Edit<mat-icon>edit</mat-icon>
                </button>
                <div *ngIf="offer.status === 'active'; then showDisableButton else showActivateButton"></div>
                <ng-template #showDisableButton>
                  <button mat-raised-button class="disable-btn"
                          (click)="checkLodgingOfferStatusAndChange(offer.id, 'disabled')">
                    Disable<mat-icon>close</mat-icon>
                  </button>
                </ng-template>
                <ng-template #showActivateButton>
                  <button mat-raised-button class="disable-btn"
                        (click)="checkLodgingOfferStatusAndChange(offer.id, 'active')">
                    Activate<mat-icon>check</mat-icon>
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          id="lodgingOffersPageId" (pageChange)="changePage($event)" [maxSize]="5" [directionLinks]="true" [responsive]="true">
        </pagination-controls>
      </div>
      <div *ngIf="showNoOffersMessage" role="alert">
        <h4 class="alert-heading">NO OFFERS FOUND!</h4>
      </div>
    </div>
    <div *ngSwitchCase="'food & beverage'" @fadeIn>
      <mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
      <div *ngIf="filteredFoodOffers.length !== 0">
        <h4 class="nr-results">
          showing {{filteredFoodOffers.length}}
          result<span *ngIf="filteredFoodOffers.length > 1">s</span>
        </h4>
        <div *ngFor="let offer of filteredFoodOffers | paginate: { id: 'foodOffersPageId',
                                                       itemsPerPage: nrItemsOnPage,
                                                       currentPage: page,
                                                       totalItems: filteredFoodOffers.length }">
          <div class="offer-container">
            <div class="top-container">
              <div class="offer-fields">
                <div class="img-container">
                  <img [src]="offer.image" alt="..." (click)="goToFoodOfferPage(offer)">
                </div>
                <div class="offer-info">
                  <h4 class="offer-title" (click)="goToFoodOfferPage(offer)">
                    <mat-icon style="margin-right: 10px">business</mat-icon>
                    {{offer.business.name}}
                  </h4>
                  <h4 class="offer-address"><mat-icon style="margin-right: 10px">location_on</mat-icon>
                    {{offer.business.address}}, {{offer.business.city}}
                  </h4>
                </div>
                <mat-icon class="delete-btn" (click)="openDeleteOfferDialog(offer.id)">delete_forever</mat-icon>
              </div>
              <div class="offer-status" [ngSwitch]="offer.status">
                <h4 *ngSwitchCase="'active'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">check_circle_outline</mat-icon>
                  active
                </h4>
                <h4 *ngSwitchCase="'disabled'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">remove_circle_outline</mat-icon>
                  disabled
                </h4>
                <h4 *ngSwitchCase="'reserved'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">block</mat-icon>
                  reserved
                </h4>
              </div>
            </div>
            <div class="bottom-container">
              <div class="action-buttons" style="margin-left: auto">
                <button mat-raised-button class="edit-btn" (click)="goToEditFoodOfferPage(offer)">
                  Edit<mat-icon>edit</mat-icon>
                </button>
                <div *ngIf="offer.status === 'active'; then showDisableButton else showActivateButton"></div>
                <ng-template #showDisableButton>
                  <button mat-raised-button class="disable-btn"
                          (click)="changeFoodOfferStatus(offer.id, 'disabled')">
                    Disable<mat-icon>close</mat-icon>
                  </button>
                </ng-template>
                <ng-template #showActivateButton>
                  <button mat-raised-button class="disable-btn"
                          (click)="changeFoodOfferStatus(offer.id, 'active')">
                    Activate<mat-icon>check</mat-icon>
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          id="foodOffersPageId" (pageChange)="changePage($event)" [maxSize]="5" [directionLinks]="true" [responsive]="true">
        </pagination-controls>
      </div>
      <div *ngIf="showNoOffersMessage" role="alert">
        <h4 class="alert-heading">NO OFFERS FOUND!</h4>
      </div>
    </div>
    <div *ngSwitchCase="'attractions'" @fadeIn>
      <mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
      <div *ngIf="filteredAttractionOffers.length !== 0">
        <h4 class="nr-results">
          showing {{filteredAttractionOffers.length}}
          result<span *ngIf="filteredAttractionOffers.length > 1">s</span>
        </h4>
        <div *ngFor="let offer of filteredAttractionOffers | paginate: { id: 'attractionOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: filteredAttractionOffers.length }">
          <div class="offer-container">
            <div class="top-container">
              <div class="offer-fields">
                <div class="img-container">
                  <img [src]="offer.image" alt="..." (click)="goToAttractionOfferPage(offer)">
                </div>
                <div class="offer-info">
                    <h4 class="offer-title" (click)="goToAttractionOfferPage(offer)">
                      <mat-icon style="margin-right: 10px">title</mat-icon>{{offer.title}}
                    </h4>
                    <h4 *ngIf="offer?.business !== null" class="offer-business"><mat-icon style="margin-right: 10px">business</mat-icon>{{offer.business?.name}}</h4>
                    <h4 class="offer-address"><mat-icon style="margin-right: 10px"> location_on</mat-icon>{{offer.address}}, {{offer.city}}</h4>
                </div>
                <mat-icon class="delete-btn" (click)="openDeleteOfferDialog(offer.id)">delete_forever</mat-icon>
              </div>
              <div class="offer-status" [ngSwitch]="offer.status">
                <h4 *ngSwitchCase="'active'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">check_circle_outline</mat-icon>
                  active
                </h4>
                <h4 *ngSwitchCase="'disabled'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">remove_circle_outline</mat-icon>
                  disabled
                </h4>
                <h4 *ngSwitchCase="'reserved'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">block</mat-icon>
                  reserved
                </h4>
              </div>
            </div>
            <div class="bottom-container">
              <div class="action-buttons" style="margin-left: auto">
                <button mat-raised-button class="edit-btn" (click)="goToEditAttractionOfferPage(offer)">
                  Edit<mat-icon>edit</mat-icon>
                </button>
                <div *ngIf="offer.status === 'active'; then showDisableButton else showActivateButton"></div>
                <ng-template #showDisableButton>
                  <button mat-raised-button class="disable-btn"
                          (click)="changeAttractionOfferStatus(offer.id, 'disabled')">
                    Disable<mat-icon>close</mat-icon>
                  </button>
                </ng-template>
                <ng-template #showActivateButton>
                  <button mat-raised-button class="disable-btn"
                          (click)="changeAttractionOfferStatus(offer.id, 'active')">
                    Activate<mat-icon>check</mat-icon>
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          id="attractionOffersPageId" (pageChange)="changePage($event)" [maxSize]="5" [directionLinks]="true" [responsive]="true">
        </pagination-controls>
      </div>
      <div *ngIf="showNoOffersMessage" role="alert">
        <h4 class="alert-heading">NO OFFERS FOUND!</h4>
      </div>
    </div>
    <div *ngSwitchCase="'activities'" @fadeIn>
      <mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>
      <div *ngIf="filteredActivityOffers.length !== 0">
        <h4 class="nr-results">
          showing {{filteredActivityOffers.length}}
          result<span *ngIf="filteredActivityOffers.length > 1">s</span>
        </h4>
        <div *ngFor="let offer of filteredActivityOffers | paginate: { id: 'activityOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: filteredActivityOffers.length }">
          <div class="offer-container">
            <div class="top-container">
              <div class="offer-fields">
                <div class="img-container">
                  <img [src]="offer.image" alt="..." (click)="goToActivityOfferPage(offer)">
                </div>
                <div class="offer-info">
                  <h4 class="offer-title" (click)="goToActivityOfferPage(offer)">
                    <mat-icon style="margin-right: 10px">title</mat-icon>{{offer.title}}
                  </h4>
                  <h4 *ngIf="offer?.business !== null" class="offer-business"><mat-icon style="margin-right: 10px">business</mat-icon>{{offer.business?.name}}</h4>
                  <h4 class="offer-address"><mat-icon style="margin-right: 10px"> location_on</mat-icon>{{offer.address}}, {{offer.city}}</h4>
                </div>
                <mat-icon class="delete-btn" (click)="openDeleteOfferDialog(offer.id)">delete_forever</mat-icon>
              </div>
              <div class="offer-status" [ngSwitch]="offer.status">
                <h4 *ngSwitchCase="'active'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">check_circle_outline</mat-icon>
                  active
                </h4>
                <h4 *ngSwitchCase="'disabled'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">remove_circle_outline</mat-icon>
                  disabled
                </h4>
                <h4 *ngSwitchCase="'reserved'">
                  <mat-icon style="margin-right: 5px; vertical-align: middle !important;">block</mat-icon>
                  reserved
                </h4>
              </div>
            </div>
            <div class="bottom-container">
              <div class="action-buttons" style="margin-left: auto">
                <button mat-raised-button class="edit-btn" (click)="goToEditActivityOfferPage(offer)">
                  Edit<mat-icon>edit</mat-icon>
                </button>
                <div *ngIf="offer.status === 'active'; then showDisableButton else showActivateButton"></div>
                <ng-template #showDisableButton>
                  <button mat-raised-button class="disable-btn"
                          (click)="changeActivityOfferStatus(offer.id, 'disabled')">
                    Disable<mat-icon>close</mat-icon>
                  </button>
                </ng-template>
                <ng-template #showActivateButton>
                  <button mat-raised-button class="disable-btn"
                          (click)="changeActivityOfferStatus(offer.id, 'active')">
                    Activate<mat-icon>check</mat-icon>
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          id="activityOffersPageId" (pageChange)="changePage($event)" [maxSize]="5" [directionLinks]="true" [responsive]="true">
        </pagination-controls>
      </div>
      <div *ngIf="showNoOffersMessage" role="alert">
        <h4 class="alert-heading">NO OFFERS FOUND!</h4>
      </div>
    </div>
  </div>
</div>
