
<div id="reviews-container">
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: flex-start;">
    <h1 class="section-title" style="margin: 0">Reviews for <span style="opacity: 0.7">{{offerProviderName}}</span></h1>
    <button id="add-review-btn" mat-raised-button>Add a review <mat-icon>add</mat-icon></button>
  </div>

  <div class="review">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">
      <img
        src="../../assets/img/test-img2.jpg"
        alt="..."
        class="user-img"
      />
      <h2 class="review-author-name">Paul Todescu</h2>
      <h3 class="rating">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon>star_border</mat-icon>
      </h3>
      <h3 class="review-date"><span style="color: #919191">- 19.05.2022 -</span></h3>
    </div>
    <h3 class="review-content">
      <i>
        "test comment"
      </i>
    </h3>
  </div>

  <div class="review">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">
      <img
        src="../../assets/img/test-img2.jpg"
        alt="..."
        class="user-img"
      />
      <h2 class="review-author-name">Paul Todescu</h2>
      <h3 class="rating">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon>star_border</mat-icon>
      </h3>
      <h3 class="review-date"><span style="color: #919191">- 19.05.2022 -</span></h3>
    </div>
    <h3 class="review-content">
      <i>
        "test comment"
      </i>
    </h3>
  </div>

  <h3 style="text-decoration: underline; text-align: center; margin-top: 15px; color: #7c795d; font-family: Bahnschrift, serif;">see all reviews</h3>

</div>
