<div class="account-management-right-container">
  <div style="display: flex; flex-direction: row">
    <h1>My Offers</h1>
    <p id="filter-btn">filter<mat-icon>filter_list</mat-icon></p>
  </div>
  <div class="separator"></div>
  <div id="offer-types">
    <p [ngClass]="{'selectedOption': category === 'lodging'}"
       (click)="switchSelectedCategory('lodging')">
      lodging
    </p>
    <p [ngClass]="{'selectedOption': category === 'food & beverage'}"
       (click)="switchSelectedCategory('food & beverage')">
      food & beverage
    </p>
    <p [ngClass]="{'selectedOption': category === 'attractions'}"
       (click)="switchSelectedCategory('attractions')">
      attractions
    </p>
    <p [ngClass]="{'selectedOption': category === 'activities'}"
       (click)="switchSelectedCategory('activities')">
      activities
    </p>
  </div>
  <div class="offers-container" *ngIf="showOffers" [ngSwitch]="category">
    <div *ngSwitchCase="'lodging'">
      <div *ngIf="lodgingOffers.length !== 0">
        <div *ngFor="let offer of lodgingOffers | paginate: { id: 'lodgingOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: lodgingOffers.length }">
          <div class="offer-container">
            <div class="top-container">
              <div class="img-container">
                <img [src]="offer.image" alt="..." (click)="goToLodgingOfferPage(offer)">
              </div>
              <div class="offer-info">
                <div *ngIf="offer.businessName !== undefined; then showLegalPersonOffer else showPhysicalPersonOffer"></div>
                <ng-template #showLegalPersonOffer>
                  <h4 class="offer-title"><mat-icon style="margin-right: 10px">business</mat-icon>{{offer?.businessName}}</h4>
                  <h4 class="offer-address"><mat-icon style="margin-right: 10px">location_on</mat-icon>{{offer.address}}, {{offer.city}}</h4>

                </ng-template>
                <ng-template #showPhysicalPersonOffer>
                  <h4 class="offer-title"><mat-icon style="margin-right: 10px">title</mat-icon>{{offer?.title}}</h4>
                  <h4 class="offer-address"><mat-icon style="margin-right: 10px">location_on</mat-icon>{{offer.address}}, {{offer.city}}</h4>
                </ng-template>
              </div>
              <mat-icon class="delete-btn">delete_forever</mat-icon>
            </div>
            <div class="bottom-container">
              <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <h4 class="offer-details"><mat-icon style="margin-right: 10px">info</mat-icon>
                  <span class="bold-nr">{{offer.nrRooms}}</span> room<span *ngIf="offer.nrRooms > 1">s</span>,
                  <span class="bold-nr">{{offer.nrSingleBeds}}</span> single bed<span *ngIf="offer.nrSingleBeds > 1">s</span>,
                  <span class="bold-nr">{{offer.nrDoubleBeds}}</span> double bed<span *ngIf="offer.nrDoubleBeds > 1">s</span>
                </h4>
                <h2>Price {{offer.price}} {{offer.currency}} <span style="font-size: 0.6em">(/night)</span></h2>
              </div>
              <div class="action-buttons" style="margin-left: auto">
                <button mat-raised-button class="edit-btn">
                  Edit<mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button class="disable-btn">
                  Disable<mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          id="lodgingOffersPageId" (pageChange)="page = $event" [maxSize]="5" [directionLinks]="true" [responsive]="true">
        </pagination-controls>
      </div>
      <div *ngIf="showNoOffersMessage === true" class="offer-container" role="alert">
        <h4 class="alert-heading">NO OFFERS FOUND!</h4>
      </div>
    </div>
    <div *ngSwitchCase="'food & beverage'">
      <div *ngIf="foodOffers.length !== 0">
        <div *ngFor="let offer of foodOffers | paginate: { id: 'foodOffersPageId',
                                                       itemsPerPage: nrItemsOnPage,
                                                       currentPage: page,
                                                       totalItems: foodOffers.length }">
          <div class="offer-container">
            <div class="top-container">
              <div class="img-container">
                <img [src]="offer.image" alt="..." (click)="goToFoodOfferPage(offer)">
              </div>
              <div class="offer-info">
                <h4 class="offer-title"><mat-icon style="margin-right: 10px">business</mat-icon>{{offer.business.name}}</h4>
                <h4 class="offer-address"><mat-icon style="margin-right: 10px">location_on</mat-icon>
                  {{offer.business.address}}, {{offer.business.city}}
                </h4>
              </div>
              <mat-icon class="delete-btn">delete_forever</mat-icon>
            </div>
            <div class="bottom-container">
              <div class="action-buttons" style="margin-left: auto">
                <button mat-raised-button class="edit-btn">
                  Edit<mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button class="disable-btn">
                  Disable<mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          id="foodOffersPageId" (pageChange)="page = $event" [maxSize]="5" [directionLinks]="true" [responsive]="true">
        </pagination-controls>
      </div>
      <div *ngIf="showNoOffersMessage === true" class="offer-container" role="alert">
        <h4 class="alert-heading">NO OFFERS FOUND!</h4>
      </div>
    </div>
    <div *ngSwitchCase="'attractions'">
      <div *ngIf="attractionOffers.length !== 0">
        <div *ngFor="let offer of attractionOffers | paginate: { id: 'attractionOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: attractionOffers.length }">
          <div class="offer-container">
            <div class="top-container">
              <div class="img-container">
                <img [src]="offer.image" alt="..." (click)="goToAttractionOfferPage(offer)">
              </div>
              <div class="offer-info">
                  <h4 class="offer-title"><mat-icon style="margin-right: 10px">title</mat-icon>{{offer.title}}</h4>
                  <h4 *ngIf="offer?.business !== null" class="offer-business"><mat-icon style="margin-right: 10px">business</mat-icon>{{offer.business?.name}}</h4>
                  <h4 class="offer-address"><mat-icon style="margin-right: 10px"> location_on</mat-icon>{{offer.address}}, {{offer.city}}</h4>
              </div>
              <mat-icon class="delete-btn">delete_forever</mat-icon>
            </div>
            <div class="bottom-container">
              <div class="action-buttons" style="margin-left: auto">
                <button mat-raised-button class="edit-btn">
                  Edit<mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button class="disable-btn">
                  Disable<mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          id="attractionOffersPageId" (pageChange)="page = $event" [maxSize]="5" [directionLinks]="true" [responsive]="true">
        </pagination-controls>
      </div>
      <div *ngIf="showNoOffersMessage === true" class="offer-container" role="alert">
        <h4 class="alert-heading">NO OFFERS FOUND!</h4>
      </div>
    </div>
    <div *ngSwitchCase="'activities'">
      <div *ngIf="activityOffers.length !== 0">
        <div *ngFor="let offer of activityOffers | paginate: { id: 'activityOffersPageId',
                                                        itemsPerPage: nrItemsOnPage,
                                                        currentPage: page,
                                                        totalItems: activityOffers.length }">
          <div class="offer-container">
            <div class="top-container">
              <div class="img-container">
                <img [src]="offer.image" alt="..." (click)="goToActivityOfferPage(offer)">
              </div>
              <div class="offer-info">
                <h4 class="offer-title"><mat-icon style="margin-right: 10px">title</mat-icon>{{offer.title}}</h4>
                <h4 *ngIf="offer?.business !== null" class="offer-business"><mat-icon style="margin-right: 10px">business</mat-icon>{{offer.business?.name}}</h4>
                <h4 class="offer-address"><mat-icon style="margin-right: 10px"> location_on</mat-icon>{{offer.address}}, {{offer.city}}</h4>
              </div>
              <mat-icon class="delete-btn">delete_forever</mat-icon>
            </div>
            <div class="bottom-container">
              <div class="action-buttons" style="margin-left: auto">
                <button mat-raised-button class="edit-btn">
                  Edit<mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button class="disable-btn">
                  Disable<mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          id="activityOffersPageId" (pageChange)="page = $event" [maxSize]="5" [directionLinks]="true" [responsive]="true">
        </pagination-controls>
      </div>
      <div *ngIf="showNoOffersMessage === true" class="offer-container" role="alert">
        <h4 class="alert-heading">NO OFFERS FOUND!</h4>
      </div>
    </div>
  </div>
</div>
<mat-spinner *ngIf="showLoadingSpinner"></mat-spinner>

