<app-navbar></app-navbar>
<div id="wrapper">
  <h1 id="offer-title">{{offerTitle}}</h1>
  <div id="offer-container">
    <div id="top-container">
      <div id="left-container">
        <div id="images-section">
          <div id="image-container">
            <img id="selected-image" [src]="selectedImage" alt="..."
                 (click)="showImageModal(selectedImage)">
          </div>
          <p id="fullscreen-img" (click)="showImageModal(selectedImage)">fullscreen</p>
          <div id="carousel-background">
            <carousel [height]="150">
              <div *ngFor="let image of images" class="carousel-cell">
                <img [src]="image" alt="..." (click)="setImage(image)">
              </div>
            </carousel>
          </div>
        </div>
        <ng-image-fullscreen-view
          [images]="imageObjects"
          [imageIndex]="selectedImageIndex"
          [show]="showImageModalFlag"
          (close)="closeImageModal()">
        </ng-image-fullscreen-view>
        <div id="contact-socials">
          <div id="contact">
            <h3 *ngIf="offerContact?.email">
              <mat-icon>email</mat-icon>{{offerContact?.email}}</h3>
            <h3 *ngIf="offerContact?.phoneNumber">
              <mat-icon>phone</mat-icon>{{offerContact?.phoneNumber}}</h3>
            <div *ngIf="isOfferInFavourites;
                    then showColoredHeart else showEmptyHeart"></div>
            <ng-template #showColoredHeart>
              <mat-icon class="favourite-btn" (click)="removeOfferFromFavourites()">
                favorite
              </mat-icon>
            </ng-template>
            <ng-template #showEmptyHeart>
              <mat-icon class="favourite-btn" (click)="addOfferToFavourites()">
                favorite_border
              </mat-icon>
            </ng-template>
          </div>
          <div id="socials" *ngIf="businessSocials">
            <div class="social" *ngIf="businessSocials?.websiteLink">
              <i class="fa fa-external-link-square fa-2x" aria-hidden="true"></i>
              <a [href]="businessSocials?.websiteLink" target="_blank">website</a>
            </div>
            <div class="social" *ngIf="businessSocials?.facebookLink">
              <i class="fa fa-brands fa-facebook-square fa-2x" aria-hidden="true"></i>
              <a [href]="businessSocials?.facebookLink" target="_blank">facebook</a>
            </div>
            <div class="social" *ngIf="businessSocials?.twitterLink">
              <i class="fa fa-brands fa-twitter-square fa-2x" aria-hidden="true"></i>
              <a [href]="businessSocials?.twitterLink" target="_blank">twitter</a>
            </div>
          </div>
        </div>
      </div>
      <div id="right-container">
          <div class="provider-details">
            <img [src]="offerProviderImage" alt="provider-img" class="provider-img">
            <h1 class="provider-name" (click)="goToProviderPage()">{{offerProviderName}}</h1>
          </div>
        <div id="offer-details">
          <h3 id="rating">
            <mat-icon *ngFor="let star of counter(getNrFullStars(providerRating?.rating))">star</mat-icon>
            <mat-icon *ngFor="let star of counter(getHalfStar(providerRating?.rating))">star_half</mat-icon>
            <mat-icon *ngFor="let star of counter(getNrEmptyStars(providerRating?.rating))">star_border</mat-icon>
            <span id="nr-reviews" (click)="scroll(reviews)">({{getNrReviews()}} review<span *ngIf="getNrReviews() !== 1">s</span>)</span>
          </h3>
          <h3><mat-icon style="margin-right: 10px">location_on</mat-icon>{{offerAddress}}, {{offerCity}}</h3>
          <h3 id="schedule" (click)="seeBusinessSchedule()"
              *ngIf="hasOfferBusiness && businessSchedule?.length !== 0">
            <mat-icon style="margin-right: 10px;">schedule</mat-icon>
            schedule
          </h3>
        </div>
        <div id="map">
          <app-map></app-map>
        </div>
      </div>
    </div>

    <div id="lodging-offers">
      <div *ngIf="offerCategory === 'lodging'">
        <div *ngIf="offerType === 'legal', then showLegalOffers else showPhysicalOffer"></div>
        <ng-template #showLegalOffers>
          <div style="display: flex; flex-direction: row;">
            <h1 class="section-title">Offers</h1>
            <div *ngIf="legalPersonLodgingOffers.length; then showLegalOffers else showNoOffersMessage"></div>
            <ng-template #showLegalOffers>
              <div style="margin-left: auto;">
                <h4 class="currency-txt">Currency: </h4>
                <mat-form-field appearance="legacy" class="currency-field">
                  <mat-select [value]="selectedCurrency" (selectionChange)="changeCurrency($event.value)">
                    <mat-option *ngFor="let currency of currencies" style="color: black;" [value]="currency">
                      {{currency}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-template>
            <ng-template #showNoOffersMessage>
              <div role="alert">
                <h4 class="alert-heading">NO ACTIVE OFFERS FOUND!</h4>
              </div>
            </ng-template>
          </div>
          <app-legal-lodging-offers [offers]="legalPersonLodgingOffers"></app-legal-lodging-offers>
          <div class="price-request" *ngIf="legalPersonLodgingOffers.length > 0">
            <h3 (click)="openPriceRequestDialog()">Looking for a different price?</h3>
            <mat-icon matTooltip="propose a different price" matTooltipPosition="below">info</mat-icon>
          </div>
        </ng-template>
        <ng-template #showPhysicalOffer>
          <div style="display: flex; flex-direction: row;">
            <h1 class="section-title">Details</h1>
            <div style="margin-left: auto;">
              <h4 class="currency-txt">Currency: </h4>
              <mat-form-field appearance="legacy" class="currency-field">
                <mat-select [value]="selectedCurrency" (selectionChange)="changeCurrency($event.value)">
                  <mat-option *ngFor="let currency of currencies" style="color: black;" [value]="currency">
                    {{currency}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <app-physical-lodging-offer-details
            [offer]="physicalPersonLodgingOffer">
          </app-physical-lodging-offer-details>
          <div class="price-request" style="margin-top: 20px">
            <h3 (click)="openPriceRequestDialog()">Looking for a different price?</h3>
            <mat-icon matTooltip="propose a different price" matTooltipPosition="below">info</mat-icon>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="section" *ngIf="offerDescription !== null">
      <h1 class="section-title">Description</h1>
      <p id="offer-description">{{offerDescription}}</p>
    </div>

    <div class="section" *ngIf="offerCategory === 'food' && foodOfferMenu?.length !== 0">
      <h1 class="section-title" style="margin-bottom: 15px">Menu</h1>
      <app-food-offer-menu [foodMenu]="foodOfferMenu"></app-food-offer-menu>
    </div>
    <div class="section" *ngIf="(offerCategory === 'attractions' || offerCategory === 'activities')
                                && tickets?.length !== 0">
      <h1 class="section-title">Pricing</h1>
      <app-offer-tickets [tickets]="tickets"></app-offer-tickets>
    </div>

    <div class="section" #reviews>
      <app-reviews
        [offerProviderName]="offerProviderName"
        [reviewType]="hasOfferBusiness === true ? 'business' : 'user'"
        [offerUserId]="userId"
        [offerBusinessId]="businessId"
        (reviewAddedEvent)="addedReviewEvent($event)">
      </app-reviews>
    </div>
    <h3 id="nr-views">Views: <span>{{nrViews}}</span></h3>
  </div>
</div>
