/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";


html, body {
  background-color: #fcfcfc;
  overflow-x: initial;
}

.dialog-class {
  width: 60%;
  max-height: 95%;
  overflow: auto;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
}

.reservation-dialog-class {
  width: 50%;
  max-height: 95%;
  overflow: auto;
  position: absolute;
  z-index: 1;
  border-radius: 7px;
}

.dialog-class #menu-container {
  margin: 0 auto;
}

.dialog-class #tickets-container {
  margin: 0 auto;
}

.mat-button-focus-overlay {
  background-color: transparent!important;
}

.account-management-right-container {
  display: block;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
}

.swal2-popup .swal2-styled:focus{
  box-shadow: none !important;
}

.swal2-input {
  border-color: #d3d3d3  !important;
}

.swal2-input:focus {
  box-shadow: none !important;
  border-color: #d3d3d3  !important;
}

.swal2-loader {
  border-color: #034953 transparent #034953 transparent !important;
}

.mat-select-panel {
  //margin-top: 45px;
  //pointer-events: auto;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #034953 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #034953 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #034953;
}

.mat-form-field-no-padding .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.ngx-pagination {
  display: flex !important;
  justify-content: center !important;
  font-size: 1.2em !important;
}

.ngx-pagination .current, .btn-info {
  background: #cccccc !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.mat-spinner {
  margin: auto !important;
}

.mat-spinner circle {
  stroke: #7c795d !important;
}

.mat-tooltip  {
  white-space: pre-line;
}

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7c795d !important;
}

::ng-deep .mat-form-field-disabled {
  color: #FF0000;
}

.dark-background {
  background:
    linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.9)
    )
}

.mat-tooltip {
  font-size: 1.1em !important;
}

