<div class="card" style="width: 80%">
  <div class="card-body">
    <form name="editUserForm" [formGroup]="UserDetailsForm">
      <div class="form-row">
        <!--First Name-->
        <mat-form-field appearance="outline" style="flex: 2 1 0;">
          <mat-label>First Name <span style="color: red;"> *</span></mat-label>
          <input formControlName="firstName" matInput type="text" autocomplete="off"/>
          <mat-error *ngIf="UserDetailsForm.get('firstName')?.invalid">{{getFormFirstNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <!--Last Name-->
        <mat-form-field appearance="outline" style="flex: 2 1 0;">
          <mat-label>Last Name <span style="color: red;"> *</span></mat-label>
          <input formControlName="lastName" matInput type="text" autocomplete="off"/>
          <mat-error *ngIf="UserDetailsForm.get('lastName')?.invalid">{{getFormLastNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <!--Gender-->
        <mat-form-field appearance="outline" style="flex: 1 1 0;">
          <mat-label>Gender <span style="color: red;"> *</span></mat-label>
          <mat-select  formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-row">
        <!--Email-->
        <mat-form-field appearance="outline" disabled="true" style="flex: 1 1 0;">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="text"/>
        </mat-form-field>

        <!--Phone-->
        <mat-form-field appearance="outline" style="flex: 1 1 0;">
          <mat-label>Phone</mat-label>
          <input formControlName="phoneNumber" matInput type="text" autocomplete="off"/>
          <mat-error *ngIf="UserDetailsForm.get('phoneNumber')?.invalid">{{getFormPhoneNumberErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="isFormEditable === true; then showSaveButton else showEditButton"></div>
      <ng-template #showSaveButton>
        <button mat-raised-button id="save-button" [disabled]="!UserDetailsForm.valid" (click)="onSaveProfile(UserDetailsForm)">Save</button>
        <button mat-raised-button id="cancel-button" (click)="onCancelProfile()">Cancel</button>
      </ng-template>
      <ng-template #showEditButton>
        <button mat-raised-button (click)="onChangeProfile()" id="edit-button">Edit</button>
      </ng-template>
    </form>
  </div>
</div>
