#weather-container{
  border-radius: 7px;
  padding: 10px 50px;
  text-align: center;
  color: #7c795d;
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
  white-space: nowrap;
}
