.card-body {
  overflow: hidden !important;
  position: relative;
  padding: 0 !important;
}

.close-button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  border: 1px solid #999999;
  background-color: #f7f7f7;
  margin: 10px;
}

.close-icon {
  color: #000000 !important;
}

#form-row {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15px;
}

.mat-form-field {
  max-width: 100%;
}

#title{
  background-color: #034953;
  border-radius: 7px;
  margin-bottom: 25px;
}

#title h2 {
  font-size: 26px;
  color: #ffffff;
  font-family: Bahnschrift, serif;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word;
  padding: 15px 0;
}

.submit-button {
  background-color: #034953 !important;
  color: #ffffff !important;
  font-size: 1.1em;
}

.submit-button:disabled {
  cursor: not-allowed;
}


.mat-icon {
  transform: scale(1.2);
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #034953 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}
