<div class="card-body" style="overflow: hidden !important; position: relative; padding: 0 !important;">
  <div class="section-title">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
    <h2>Business Details</h2>
  </div>

  <form style="margin-top: 30px" name="addBusinessForm" [formGroup]="businessDetailsForm">

    <!--Name-->
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput type="text"/>
      </mat-form-field>
    </div>

    <div>
      <!--City-->
      <mat-form-field  appearance="outline" style="width: 30%; margin-right: 2%">
        <mat-label>City</mat-label>
        <input formControlName="city" matInput type="text"/>
      </mat-form-field>

      <!--CUI-->
      <mat-form-field appearance="outline" style="width: 68%">
        <mat-label>CUI</mat-label>
        <input formControlName="cui" matInput type="text" />
      </mat-form-field>
    </div>

    <!--Address-->
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput type="text" />
      </mat-form-field>
    </div>

  </form>


</div>
