.option-txt{
  font-family: Bahnschrift, serif;
  color: #7c795d;
  font-weight: bold;
  margin: 0;
}

.filter-field{
  width: 100px;
  display: block;
}

.reset-btn {
  background-color: #7c795d;
  margin-right: 5px;
  color: white;
}

.filter-btn {
  background-color: #034953;
  color: white;
}

.mat-label {
  color: #7c795d;
}

.checkbox {
  margin: 0 10px;
  color: #7c795d;
}

.fields-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}
