.close-button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  background-color: #f7f7f7;
  margin: 10px;
}

.close-icon {
  color: #000000 !important;
}

.section-title{
  background-color: #034953;
  border-radius: 7px;
}

h2 {
  font-size: 26px;
  color: white;
  font-family: Bahnschrift, serif;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word;
  padding: 15px 0;
}

.full-width {
  width: 100%;
}

i {
  margin: 10px 10px 0 0;
  color: #999999;
}

.mat-icon {
  transform: scale(1.2);
}
