<div class="card-body">
  <div id="title">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
    <h2>Add Review</h2>
  </div>
  <div style="display: flex; flex-direction: column; flex-wrap: wrap;">
    <h3 class="rating">
      <span style="font-size: 1.4em; opacity: 0.8; font-weight: 500">select: </span>
      <mat-icon *ngFor='let index of counter(5) ;let i = index'
                (mouseover)="hoverRatingStar(i)"
                (mouseout)="resetRatingStars(i)"
                (click)="selectRatingStars(i)">
        {{getRatingStar(i)}}
      </mat-icon>
    </h3>
    <div style="overflow: hidden">
      <textarea [rows]="8" maxlength="600" [(ngModel)]="reviewToAdd"></textarea>
      <p style="float: right">{{reviewToAdd?.length || 0}}/600</p>
    </div>
    <div style="text-align: center;">
      <button mat-raised-button class="submit-button"
              data-dismiss="modal" (click)="sendReview()">
        Submit
      </button>
    </div>
  </div>
</div>
