.close-button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  border: 1px solid #999999;
  background-color: #f7f7f7;
  margin: 10px;
}

.close-icon {
  color: #000000 !important;
}

.section-title{
  background-color: #034953;
  border-radius: 7px;
}

h2 {
  font-size: 26px;
  color: white;
  font-family: Bahnschrift, serif;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word;
  padding: 15px 0;
}

.full-width {
  width: 100%;
}

.center-button {
  text-align: center;
}

#submit-button {
  background-color: #034953;
  color: white;
  font-size: 1.1em;
  vertical-align: bottom;
}

#submit-button:disabled{
  cursor: not-allowed;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #034953 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: black !important;
}

#img-input-container {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

input#business-img-input {
  display: none;
}

label {
  background-color: #fcfcfc;
  font-size: 14px;
  color: black;
  margin: 0;
  white-space: nowrap;
  width: 150px;
  padding: 15px 10px;
  border-right: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
}

label:hover {
  cursor: pointer;
  background-color: #fafafa;
}

#selected-img {
  display: flex;
  flex-direction: row;
  flex-grow: 1
}

#schedule-buttons {
  margin-left: auto;
  margin-right: 5px;
}

.see-icon {
  color: #034953;
  margin-right: 10px
}

.see-icon:hover {
  cursor: pointer;
}

.delete-icon {
  color: #c73c3c;
}

.delete-icon:hover {
  cursor: pointer;
}

#schedule-container {
  margin: 0 5px 1.5em 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.added-schedule {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.mat-icon {
  transform: scale(1.2);
}

i:hover {
  cursor: pointer;
}
