<app-navbar></app-navbar>
<div class="banner-image">
  <img [src]="bannerImage" alt="banner">
</div>
<div class="separator"></div>

<div class="header">
  <h1 class="section-title">Select a category</h1>
</div>

<div id="categories-section">
  <div class="row row-cols-1 row-cols-md-2 g-4" style="margin: 0 auto;">
    <div class="col" style="margin-bottom: 20px">
      <div class="card">
        <img
          style="padding: 40px; max-width: 300px; margin: 0 auto"
          src="../../assets/img/lodging-logo.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="center-button">
            <button class="submitButton" mat-raised-button (click)="goToOffers('lodging')">See Offers</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="margin-bottom: 20px">
      <div class="card">
        <img
          style="padding: 40px; max-width: 300px; margin: 0 auto"
          src="../../assets/img/activities-logo.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="center-button">
            <button class="submitButton" mat-raised-button (click)="goToOffers('activities')">See Offers</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          style="padding: 40px; max-width: 350px; margin: 0 auto"
          src="../../assets/img/food-logo.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="center-button">
            <button class="submitButton" mat-raised-button (click)="goToOffers('food')">See Offers</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img
          style="padding: 40px; max-width: 350px; margin: 0 auto"
          src="../../assets/img/attractions-logo.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="center-button">
            <button class="submitButton" mat-raised-button (click)="goToOffers('attractions')">See Offers</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--<div style="width: fit-content; margin: 0 auto; background-color: #f7f7f7; padding: 20px; border-radius: 7px;">-->
<!--  <app-weather-widget></app-weather-widget>-->
<!--</div>-->

<div class="info-section">
  <div style="flex: 2 0 0 !important;">
    <div id="info-section-content">
      <h1 id="info-section-title">
        Visit Timisoara
      </h1>
      <p id="info-section-text">
        <span style="padding-left: 2em;">Lying</span> near the Hungarian and Serbian borders,
        Timisoara is the gateway to the West and has a long history of cosmopolitan multiculturalism. It's the birthplace of
        the 1989 Romanian Revolution that ended the Ceauşescu's dictatorship, an important centre in recent Romanian history.
        It is a green, pleasant and walkable city with cosy cafes, lively markets and interesting museums, offering plenty of
        entertainment to fill your time, whether you are visiting for a day or a week.
      </p>
    </div>
  </div>
  <div style="flex: 1 0 0; min-width: 250px;">
    <app-image-carousel style=""></app-image-carousel>
  </div>
</div>

<div class="info-section" style="width: 80% !important;">
  <div id="map-section">
    <div *ngIf="showMapDirectionsInput; then showDirectionsInput else hideDirectionsInput"></div>
    <ng-template #showDirectionsInput>
      <h1 class="map-section-title">Click <span (click)="toggleMapDirectionsInput()">here</span> to hide directions</h1>
      <div class="row row-cols-1 row-cols-md-2 g-4" style="margin: 0 auto">
        <div class="col">
          <mat-icon style="width: 10%;"> location_on</mat-icon>
          <mat-form-field style="width: 90%" appearance="fill">
            <mat-label>Your Location</mat-label>
            <input matInput type="text" ngx-google-places-autocomplete [(ngModel)]="directionsInput"
                   (onAddressChange)="getDirections($event)"/>
          </mat-form-field>
        </div>
        <div class="col">
          <div class="icon-btn-container">
            <a class="icon-btn" [ngClass]="{'selectedTransportationOption': selectedTransportationOption === 'DRIVING'}"
               (click)="switchTransportationOption('DRIVING')">
              <mat-icon> directions_car </mat-icon>
            </a>
          </div>
          <div class="icon-btn-container">
            <a class="icon-btn" [ngClass]="{'selectedTransportationOption': selectedTransportationOption === 'WALKING'}"
               (click)="switchTransportationOption('WALKING')">
              <mat-icon> directions_walk </mat-icon>
            </a>
          </div>
          <!--        <div class="icon-btn-container">-->
          <!--          <a class="icon-btn" [ngClass]="{'selectedTransportationOption': selectedTransportationOption === 'BICYCLING'}"-->
          <!--             (click)="switchTransportationOption('BICYCLING')">-->
          <!--            <mat-icon> directions_bike </mat-icon>-->
          <!--          </a>-->
          <!--        </div>-->
          <div class="icon-btn-container">
            <a class="icon-btn" [ngClass]="{'selectedTransportationOption': selectedTransportationOption === 'TRANSIT'}"
               (click)="switchTransportationOption('TRANSIT')">
              <mat-icon > directions_bus </mat-icon>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="directionsRequestStatus" style="display: block; width: 100%;">
        <h1 style="text-align: center; color: #7c795d; overflow: hidden; text-overflow: ellipsis"> {{originLocation}}
          <mat-icon style="vertical-align: middle">arrow_right_alt</mat-icon> Timișoara</h1>
        <h2><span style="color: #7c795d;">Travel Distance: </span>{{travelDistance}}</h2>
        <h2><span style="color: #7c795d;">Travel Time: </span>{{travelTime}}</h2>
      </div>
    </ng-template>
    <ng-template #hideDirectionsInput>
      <h1 class="map-section-title">Click <span (click)="toggleMapDirectionsInput()">here</span> to get directions</h1>
    </ng-template>
    <div style="overflow: hidden;">
      <p id="reset" (click)="resetMap()">reset</p>
    </div>
    <app-map
      (directionsRequestStatusEvent)="getDirectionsRequestStatus($event)"
      (originLocationEvent) = "getOriginLocation($event)"
      (travelDistanceEvent)="getTravelDistance($event)"
      (travelTimeEvent) ="getTravelTime($event)">
    </app-map>
  </div>
  <app-weather-widget style="flex: 1 1 0;"></app-weather-widget>
</div>

<div class="footer">
  <h2>TravelTim - {{getCurrentYear()}}</h2>
</div>

