<div class="card-body">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
  <div id="reviews-container">
    <div *ngFor="let review of data.reviews" class="review">
      <div class="user-img-name">
        <img
          [src]="review.image"
          alt="..."
          class="user-img"/>
        <h2 class="review-author-name">{{review.authorName}}</h2>
        <h3 class="rating" *ngIf="review.rating > 0">
          <mat-icon *ngFor="let i of counter(review.rating)">star</mat-icon>
          <mat-icon *ngFor="let i of counter(5 - review.rating)">star_border</mat-icon>
        </h3>
        <h3 class="review-date"><span style="color: #919191">- {{getFormattedReviewDate(review.createdAt)}} -</span></h3>
      </div>
      <h3 class="review-content">
        <i>
          "{{review.review}}"
        </i>
      </h3>
    </div>
  </div>
</div>
